# exclude everything except custom selections
/*

!.gitignore
!/.github/

!.babelrc
!.browserlistrc
!composer.json
!composer.lock
!CHANGELOG.md
!CONTRIBUTING.md
!.babelrc
!.editorconfig
!license.txt
!LICENSE
!package.json
!package-lock.json
!phpcs.xml
!.phpcs.xml
!phpcs.xml.dist
!.phpcs.xml.dist
!.prettierrc
!readme.txt
!README.md
!README.txt
!webpack.config.js

node_modules/
node_modules/*
node_modules/**/*

vendor/
vendor/*
vendor/**/*

# THIS PLUGIN SPECIFIC rules.

!index.php

!plugin-name.php
!plugin-name-constants.php
!uninstall.php

!/languages/

!/includes/
/includes/*
!/includes/*.php
!/includes/**/.php

!/assets/

!/_src/
/_src/*

!/_src/blocks

!/blocks/

